<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
    <style>
    </style>
</head>

<body>
    <!-- <div id="initial-screen" class="initial-screen">
            <div>
                <label for="name">Enter your name:</label>
                <input type="text" id="name">
                <button>Join game</button>
                <span>Press the button to join</span>
            </div>
        </div> -->
    <div class="controller">
        <div class="control">
            <div class="joystick">
                <div class="button-move move-left" id="joy-left">
                    <svg viewBox="0 0 26 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.9904 16.5L13 0L0.00962067 16.5H2V38H24V16.5H25.9904Z" />
                    </svg>
                </div>
                <div class="button-move move-right" id="joy-right">
                    <svg viewBox="0 0 26 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.9904 16.5L13 0L0.00962067 16.5H2V38H24V16.5H25.9904Z" />
                    </svg>
                </div>
                <div class="button-move move-top" id="joy-top">
                    <svg viewBox="0 0 26 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.9904 16.5L13 0L0.00962067 16.5H2V38H24V16.5H25.9904Z" />
                    </svg>
                </div>
                <div class="button-move move-bottom" id="joy-bottom">
                    <svg viewBox="0 0 26 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.9904 16.5L13 0L0.00962067 16.5H2V38H24V16.5H25.9904Z" />
                    </svg>
                </div>
                <div class="button-move move-center" id="joy-center"></div>
            </div>
            <div>
                center
            </div>
            <div class="buttons">
                <div id="button-a" class="button"><div class="circle"></div></div>
                <div id="button-b" class="button"><div class="circle"></div></div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"
    integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const socket = io("http://192.168.15.2:8765/");
    socket.on('connect', (event) => {
        console.log('Conectado com sucesso!');
    });

    socket.on('error', (error) => {
        console.log(error)
    });


    function sendCommand(command) {
        socket.emit('command', command);
    }

</script>